
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;

}

main {
    width: 100%;
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

li {
    width: 170px;
    height: 210px;
    text-align: center;
    line-height: 16;
    border: 1px solid #ddd;
    margin: 0.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}



button {
    margin: 20px auto;
    text-align: center;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    background: rgb(0, 53, 146);
    color: white;
}

.ardr-button-style {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ardr-font-style {
    font-size: 1.5rem;
    color: #0016a7;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem;
}
.ardr-font-style-s {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}